<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <div id="app">
    <!--只能选一个-->
    <!--v-model针对要绑定哪个标签的值就放在哪个标签里，这里要的是select，所有注意不要放在option里面了...-->
    <!--单选绑定的是一个字符串select字符串值-->
    <select name="fruit" id="fruit" v-model="fruit">
      <option value="苹果">苹果</option>
      <option value="葡萄">葡萄</option>
      <option value="香蕉">香蕉</option>
      <option value="雪梨">雪梨</option>
    </select>

<!--多选绑定的值是一个数组-->
    <select name="fruit" id="fruits" v-model="fruits" multiple>
      <option value="苹果">苹果</option>
      <option value="葡萄">葡萄</option>
      <option value="香蕉">香蕉</option>
      <option value="雪梨">雪梨</option>
    </select>

    <h2>{{fruit}}</h2>
    <h2>{{fruits}}</h2>

    <!---->
  </div>

  <script src="../js/vue.js"></script>
  <script>

    const app = new Vue({
      el: "#app",
      data: {
        message: "Hello Vue",
        fruit: '香蕉',
        fruits: []
      }
    })

  </script>
</body>
</html>