<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

  <div id="app">
    <!--最基本遍历，没有使用索引-->
    <ul>
      <li v-for="item in names">{{item}}</li>
    </ul>

    <!--遍历的时候获取下标-->

    <ul>
      <li v-for="(item, index) in names">{{(index+1) + item}}</li>
    </ul>
  </div>

  <script src="../js/vue.js"></script>
  <script>

    const app = new Vue({
      el: "#app",
      data: {
        names: ['张三', '李四', '王五', '刘六']
      }
    })

  </script>
</body>
</html>